<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Most Popular secrets... </h1>
        <a href="/secrets">Back</a>
        {% for secret in secrets %}
            <p>{{secret.content}} {{secret.created_at}} </p>
            <p>{{secret.likes.all.count}}</p>
            <a href="{% url 'like' id=secret.id%}">Like</a>
            {% for like in secret.likes.all %}
                {% if like.user.id == id%}
                    You Liked
                {% else %}
                    <a href="{% url 'like' id=secret.id%}">Like</a>
                {% endif %}
            {%endfor%}
            {% if secret.user.id == id %}
                <a href="">Delete</a>
            {% endif %}
        {% endfor %}
    </body>
</html>