<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <form action = "/post" method = "post">
        {% csrf_token %}
        <textarea rows="5" cols="100" name = "content" placeholder="Your secret here..."></textarea>
        <button type="submit">Post</button>
    </form>
    <a href="/secrets/">Most Popular Secrets</a>
    <h1>Recent Secrets...</h1>
    {% for secret in secrets %}
        <p>{{secret.content}} - {{secret.created_at | timesince}} ago </p>
        <p>{{secret.likes.all.count}}</p>
        <a href="{% url 'like' id=secret.id%}">Like</a>
        
        {% for like in secret.likes.all %}
            {% if like.user.id == id%}
                You Liked
            {% else %}
                <a href="{% url 'like' id=secret.id%}">Like</a>
            {% endif %}
        {%endfor%}
        {% if secret.user.id == id %}
            <a href="">Delete</a>
        {% endif %}
    {% endfor %}

    

</body>
</html>