<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <form action = "/result" method = "post">
            <label for="">Your Name</label>
            <input type="text" name="name" value="">
            <label for="">Dojo Location</label>
            <select name = "location">
                <option value="Mountain View">Mountain View</option>
                <option value="San Jose">San Jose</option>
                <option value="Burbank">Burbank</option>
            </select>
            <label for="">Favorite Language</label>
            <select name = "language">
                <option value="JavaScript">JavaScript</option>
                <option value="C">C</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
            </select>
            <label for="">Comment</label>
            <textarea rows="5" cols="109" name = "comment"></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>