<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'review/css/books.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <div class = "container">
            <div class = "header addHead">
                <a href="/books">Home</a>
                <a href="/books/add">Add Book and Review</a>
                <button><a href="/logout">Logout</a></button>
            </div>
            <h1>User Allias: {{user.first_name}}!</h1>
            <h2>Name: {{user.first_name}} {{user.last_name}}</h2>
            <h2>Email: {{user.email}}</h2>
            <h2>Total Reviews: {{count}}</h2>
            
            <h2>Posted Reviews on the following books:</h2>
            {% for book in books %}
                <p><a href="{% url 'book_reviews' id=book.id %}">{{book.title}}</a></p>
            {% endfor %}
        </div>
    </body>
</html>