<html>
    <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <body>
        <form action="" method = "post">
            <label for = "first">First Name:</label><input type = "text" id = "first" name = "first">
            <label for = "last">Last Name:</label><input type = "text" id = "last" name = "last">
            <label for = "email">Email:</label><input type = "text" id = "email" name = "email">
            <label for = "password">Password:</label><input type = "text" id = "password" name = "password">
            <label for = "confirm">Confirm:</label><input type = "text" id = "confirm" name = "confirm">
            <input type = "submit">
        </form>
    </body>
</html>