<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "/submit" method = "post">
        {% csrf_token %}
        <h2>Add a new course</h2>
        <label>Name:</label>
        <input type = "text" name = "name">
        <label>Description:</label>
        <textarea name = "description"></textarea>
        <button type = "submit">Add</button>
    </form>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for i in list %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.created_at }}</td>
                <td><a href = "/destroy/{{ i.id }}">remove</a></td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>