.on {
    background-color: green;
    border: 10px solid brown;
    margin-right: 5px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
.off {
    background-color: red;
    border: 10px solid brown;
    margin-right: 5px;
    padding: 20px;
    color: white;
    font-size: 20px;
}