<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>The Dojo Message Board</h1>
        <hr>
        <form action = "/newMessage" method = "post">
            <h3>Name:</h3>
            <input type="" name="name" value="">
            <h3>Message: </h3>
            <textarea rows="10" cols="100" name = "content"></textarea>
            <button type="submit">Post message</button>
        </form>

    </body>
</html>