<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>New Mongoose</h1>
        <form action = '/mongooses' method = 'post'>
            <h3>Name: </h3>
            <input type="" name="name" value="">
            <h3>Description: </h3>
            <textarea name = "description" rows="10" cols="100"></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>