input, select, button {
    display: block;
}
.radio {
    display: inline-block;
}

.formField{
    display: block;
}

h5, input, p, select {
    display: inline-block;
}

button {
    padding: 20px 40px;
}

form {
    border: 3px solid black;
    width: 500px;
}

p {
    color: red;
}

.ng-invalid { }
.ng-valid { }
.ng-untouched {}
.ng-touched { }
.ng-dirty { }
.ng-pristine { }