<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style.css')}}">
    </head>
    <body>
        <h1>Your Gold: {{gold}}</h1>
        <div class = "findGold">
            <form action = "/process_money" class = "option" method = "post">
                <h3>Farm</h3>
                <p>(earns 10-20 golds)</p>
                <input type = "hidden" name="action" value = "farm">
                <input type = "submit" value = "Find Gold!">
            </form>
            <form action = "/process_money" class = "option" method = "post">
                <h3>Cave</h3>
                <p>(earns 5-10 golds)</p>
                <input type = "hidden" name="action" value = "cave">
                <input type = "submit" value = "Find Gold!">
            </form>
            <form action = "/process_money" class = "option" method = "post">
                <h3>House</h3>
                <p>(earns 2-5 golds)</p>
                <input type = "hidden" name="action" value = "house">
                <input type = "submit" value = "Find Gold!">
            </form>
            <form action = "/process_money" class = "option" method = "post">
                <h3>Casino</h3>
                <p>(earns/takes 0-50 golds)</p>
                <input type = "hidden" name="action" value = "casino">
                <input type = "submit" value = "Find Gold!">
            </form>
            <h2>Activies:</h2>
            <div id = "results">

                {% for i in results: %}
                <p>{{ i }}</p>
                {% endfor %}
            </div>
        </div>
        <button><a href = "/reset">Reset</a></button>
    </body>
</html>